* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #1b1b1b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.header-logo {
    width: 300px;
}

.nav-bar-list {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: bold;
}