* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 2rem 4rem;
    background-color: white;
    box-shadow: 4px 0px 6px black;
}

.header-logo {
    width: 200px;
}

.navbar .nav-link:hover {
    color: #3175c9;
}

.navbar .nav-link.active {
    font-weight: bold;
}

#navbarNavAltMarkup {
    padding: 0.5rem;
}

body {
    background-color: #F5F7FB;
}

#login-title {
    text-align: center;
}

#login-container {
    background-image: url("./images/login_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
}

.form-button {
    background-color: #4F46E5;
    color: white;
}

.form-button:hover {
    background-color: #4338CA;
    color: white;
}

.error-message {
    color: red;
}